.kt-login.kt-login--v4 {
    background-size: cover;
    background-repeat: no-repeat
}

.kt-login.kt-login--v4 .kt-login__wrapper {
    padding: 6% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container {
    width: 430px;
    margin: 0 auto
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__logo {
    text-align: center;
    margin: 0 auto 4rem auto
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head {
    margin-top: 1rem;
    margin-bottom: 3rem
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #595d6e
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #74788d
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form {
    margin: 0 auto
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .input-group {
    padding: 0;
    margin: 0 auto
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    height: 46px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 46px;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, .015);
    color: #74788d
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control::-moz-placeholder {
    color: #595d6e;
    opacity: 1
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control:-ms-input-placeholder {
    color: #595d6e
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control::-webkit-input-placeholder {
    color: #595d6e
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-invalid+.invalid-feedback,
.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-valid+.valid-feedback {
    font-weight: 500;
    font-size: .9rem;
    padding-left: 1.6rem
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #74788d;
    font-size: 1rem;
    padding: 0 1.5rem
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox {
    font-size: 1rem
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link {
    font-size: 1rem;
    color: #74788d;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link:hover {
    color: #366cf3;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions {
    text-align: center;
    margin-top: 7%
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary,
.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
    height: 45px;
    padding: 0 40px !important; 
    border: none !important; 
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__account {
    text-align: center;
    margin-top: 2rem
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-msg {
    font-size: 1rem;
    font-weight: 400;
    color: #74788d
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link {
    font-size: 1rem;
    font-weight: 500;
    color: #595d6e;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__account .kt-login__account-link:hover {
    color: #366cf3;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

.kt-login.kt-login--v4.kt-login--signin .kt-login__signup {
    display: none
}

.kt-login.kt-login--v4.kt-login--signin .kt-login__signin {
    display: block
}

.kt-login.kt-login--v4.kt-login--signin .kt-login__forgot {
    display: none
}

.kt-login.kt-login--v4.kt-login--signup .kt-login__signup {
    display: block
}

.kt-login.kt-login--v4.kt-login--signup .kt-login__signin {
    display: none
}

.kt-login.kt-login--v4.kt-login--signup .kt-login__forgot {
    display: none
}

.kt-login.kt-login--v4.kt-login--signup .kt-login__account {
    display: none
}

.kt-login.kt-login--v4.kt-login--forgot .kt-login__signup {
    display: none
}

.kt-login.kt-login--v4.kt-login--forgot .kt-login__signin {
    display: none
}

.kt-login.kt-login--v4.kt-login--forgot .kt-login__forgot {
    display: block
}

@media (max-width:1024px) {
    .kt-login.kt-login--v4 .kt-login__wrapper {
        padding-top: 5rem;
        width: 100%
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container {
        margin: 0 auto
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1rem
    }
}

@media (max-width:768px) {
    .kt-login.kt-login--v4 .kt-login__wrapper {
        width: 100%
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container {
        width: 100%;
        margin: 0 auto
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form {
        width: 100%;
        margin: 0 auto
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__account {
        margin-top: 1rem
    }
}

.kt-form input {
    border: 1px solid #646c9a !important;
    font-size: 15px !important;
}

.kt-form select {
    border: 1px solid #646c9a !important;
    font-size: 15px !important;
}

.kt-form .form-group label {
    font-size: 15px;
}

.kt-login__logo {

    padding-right: 26px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #646c9a !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #646c9a !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #646c9a !important;
}

.btn-brand {
    background-color: #F8B400 !important;
    border-color: #F8B400 !important;
    color: #fff !important;
    ;
}

.kt-form input[type=submit] {
    border-color: #F8B400 !important;
}

/* Responsive */
@media (max-width: 2881px) and (min-width: 2401px) {
    .kt-login__logo img {
        min-height: 100px
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
        font-size: 3rem !important;
    }
    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head{
        margin-bottom: 6rem;
    }
    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
        font-size: 2rem;
    }

    .kt-form .form-group label {
        font-size: 26px;
        top: 14px
    }

    .kt-form input,
    .kt-form select {
        font-size: 26px !important
    }

    .student_registration_form .focused label {
        font-size: 24px !important;
        transform: translate(0, -48px) !important;
    }

    .student_registration_form .form-group {
        margin-bottom: 65px !important
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
        height: 80px;
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-group .invalid-feedback {
        font-size: 20px;
        padding-left: 0 !important;
    }

    .student_registration_form .input_underline {
        top: 76px;
        height: 4px;
    }

    .sign_up_form_box {
        padding: 45px !important
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary, .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
        border-radius: 45px !important;
        padding: 0 95px !important;
        height: 90px !important;
        font-size: 26px;
    }
}

@media (max-width: 2400px) and (min-width: 1921px) {
    .kt-login__logo img {
        min-height: 80px
    }
    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head{
        margin-bottom: 5rem;
    }
    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
        font-size: 2.8rem !important;
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__desc {
        font-size: 1.8rem;
    }

    .kt-form .form-group label {
        font-size: 26px;
        top: 14px
    }

    .kt-form input,
    .kt-form select {
        font-size: 26px !important
    }

    .student_registration_form .focused label {
        font-size: 24px !important;
        transform: translate(0, -48px) !important;
    }

    .student_registration_form .form-group {
        margin-bottom: 50px !important
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
        height: 70px;
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-group .invalid-feedback {
        font-size: 20px;
        padding-left: 0 !important;
    }

    .student_registration_form .input_underline {
        top: 66px;
        height: 4px;
    }

    .sign_up_form_box {
        padding: 50px !important
    }

    .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-primary, .kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .kt-login__actions .kt-login__btn-secondary {
        border-radius: 45px !important;
        padding: 0 70px !important;
        height: 60px !important;
        font-size: 26px;
    }
}

@media (max-width: 1920px) {}
