.error {color: #a94442}
.validationFormControl{color: #a94442;}
.cursor-pointer{cursor: pointer;}
.hidden {display: none;}
.has-error span.has-error-text {color: #f4516c;display: inline-block;}
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.customList.pmd-list .list-group-item{
    width: 33.33%;
}
/* ----------------------------
	Typography
---------------------------- */
body {font-family: 'Poppins', sans-serif; font-size:16px; line-height:1.6; color:#455056; background-color:#F2F4F8;}
/* Font Size */
.pmd-display-4 {font-size:46px;line-height:1.4;}
.pmd-display-3 {font-size:28px;}
.pmd-display-2 {font-size:24px;}
.pmd-display-1 {font-size:20px;}
/* Custom Font Family */
.ff-roboto{font-family: 'Poppins', sans-serif !important;}
.ff-roboto-condensed{font-family: 'Poppins', sans-serif !important;}
.fw-light{font-weight:300;}
.fw-regular{font-weight:400;}
.fw-medium{font-weight:500;}
.fw-bold{font-weight:700;}
/* Color & Weight style */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ color:#171f23;font-family: 'Poppins', sans-serif; margin-bottom: 20px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color:#171f23;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus,
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active{color: #00aa4a;}
h1.inverse, h2.inverse, h3.inverse, h4.inverse, h5.inverse, h6.inverse{ color:#fff;}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong{font-weight:700;}
/* Font size and color according to Google Material */
h1, .h1 { font-size:36px; font-weight: 300;}
h2, .h2 { font-size:28px; font-weight:700;}
h3, .h3 { font-size:24px; font-weight: 400;}
h4, .h4 { font-size:22px; font-weight: 700;}
h5, .h5 { font-size:18px; font-weight: 700;}
h6, .h6 { font-size:16px; font-weight: 400;}
/* Other Element Style */
em{font-style:italic;font-family: 'Poppins', sans-serif;}
.lead {font-size:22px;  margin-bottom: 48px;}
.lead.inverse{color: #ffffff;}
strong, b{font-weight:500; color:#262f3d;}
label{font-weight:400;}
p { margin-bottom:24px;}
a{ transition:all ease-in-out 0.3s; -moz-transition:all ease-in-out 0.3s; -ms-transition:all ease-in-out 0.3s; -o-transition:all ease-in-out 0.3s; -webkit-transition:all ease-in-out 0.3s;color:#3075ba; text-decoration:none; outline:none;}
a:hover, a:focus, a:active{color:#171f23;}
.list-group-item-text{color:#455056;}
@media screen and (max-width: 1280px) {
    h2 { font-size:32px; margin-bottom:10px;}
}
@media screen and (max-width: 991px) {
    h1 { font-size:45px;}
    .lead { margin-bottom:36px; font-size: 18px;}
}
@media screen and (max-width: 767px){
    .lead { font-size: 20px; margin-bottom:24px; }
    h1 .h1{ font-size:28px;}
    h2, .h2{font-size:26px; line-height:1.3;}
    h3, .h3{font-size:22px; line-height:1.3}
    h4, .h5{font-size:20px; line-height:1.3}
    a{word-break: break-word; white-space: normal; }
    h1 br, h2 br, h3 br, h4 br{display: none;}
}


/* Modal Custom */
.modal label.field-group-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #171F23;
    border-bottom: 1px solid rgba(23, 31, 35, 0.12);
    display: block;
    font-weight: 500;
}
.modal-backdrop{ background-color: #141a1e;}

/* Form Custom */
.pmd-textfield-focused{background-color: #3075ba;}
.form-group {
    margin-bottom: 24px;
}
.navbar-header {
    width: 100%;
    position: relative;
    position: fixed;
    top: 0;
    z-index: 99999;
}
.pmd-navbar.navbar{box-shadow:0 2px 4px rgba(0,0,0,0.12);}
.user-info{padding:20px;box-shadow: 0 2px 4px rgba(0,0,0,0.12);}
.user-info .pmd-list-title{margin-bottom: 4px;color: #fff;margin-top: 8px;}
.user-info .pmd-list-subtitle{margin-bottom: 4px;color: rgba(255,255,255,0.64)}
.user-info .user-avatar{height: 64px;width:64px;border-radius: 50%;padding: 2px;border: 1px solid rgba(0,0,0,0.08);}
.navbar-brand > img {height: 32px;padding-bottom: 8px;}
.hidden-xs{display: none;}
.pmd-navbar .navbar-brand{padding-top: 12px;padding-bottom: 12px;}
@media screen and (max-width:767px){
    .navbar-brand > img{height:36px;}
    .pmd-navbar .navbar-brand{padding-top: 8px;padding-bottom: 8px;}
    .hidden-xs{display: block;}
}
.customlink a{color: #4285f4}
.customlink a:hover{text-decoration: none;color: #4285f4}

.pmd-sidebar{
    background-color: #3075BA !important;
}
.pmd-sidebar ul li a {
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: rgba(255,255,255,0.74);
    text-transform: capitalize;
}
.pmd-sidebar ul li a:hover, .sidebar ul li a.active {
    color: #ffffff;
    background-color: rgba(23, 31, 35, 0.2);
}
.pmd-sidebar ul li a img {
    height: 30px;
    width: 30px;
    opacity: 0.74;
    margin-top: -2px;
    margin-right: 12px;
}
.pmd-sidebar ul li a:hover img, .pmd-sidebar ul li a.active img {
    opacity: 1;
}
.datatableCustom{ overflow: auto; }
.dataTables_wrapper .dataTables_processing {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 200px !important;
    margin-left: -100px !important;
    margin-top: -26px !important;
    text-align: center !important;
    padding: 1em 0 !important;
}

.delete-button {
    position: absolute;
    top: 0;
    right: -10px;
    margin-top: -20px;
}

.wrapper-single-asset.border-dark {
    border-color: rgba(52, 58, 64, 0.3)!important;
}


/* /*  */

.dataTable.table thead th{ border-bottom: 0 !important; color: #000000 !important; }
table.dataTable.no-footer{ margin-top: 0 !important;margin-bottom: 0 !important; }
table.dataTable td {padding: 5px 10px !important;vertical-align: middle;color:#333333 !important;}
/* .even td{background-color: #f4f3f8;}
.odd:hover td{ background-color: #f4f3f8;  } */
div.dataTables_wrapper div.dataTables_filter label{ margin-bottom: 0; }
.card-header{  border-bottom: 0 !important; border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; border-bottom: 0 !important; }
.dataTables_length{ display: none !important; }
.dataTables_info{ float: left !important; }
.dataTables_paginate{ float: right !important; }
.dataTables_wrapper .row{ margin-right: 0;margin-left: 0; }
.dataTables_wrapper .datatableCustom{ padding-left: 0; padding-right: 0; }



@media (max-width: 480px){

    .row{ margin-right: 0 !important;margin-left: 0 !important; }
    .datatableCustom{ padding-left: 0 !important;padding-right: 0 !important; }
    .card-header:first-child {padding: 15px 15px !important;}
    .m-portlet--mobile{ padding-top: 20px; }

}


.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}

.pmd-datatable-pagination.page-link.la-angle-left {
    font-size: 0.9rem !important;
}

.languageSwitcher {
    position: relative;
    width: 100%;
    margin-top: 22px;
    /* top: 50px;
    right: 50px; */
}
.selectOption{
    position: relative;
    width: 150px;
    float: right;
}
.selectOption:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.languageSwitcher select {
    background: #f7f6f9;
    border: 1px solid #f7f6f9;
    width: 150px;
    -webkit-appearance: none;
    border-radius: 50px;
}

.languageInner li{ display: inline-block; vertical-align: middle; padding: 0 10px; }
.languageInner li .languageSwitcher{ position: static; }

.uploaderProductMultipleButton {float: right;}

/* Media Quries */


@media (max-width: 480px){

    .languageSwitcher{ top: 20px; right: 20px; }
    .selectOption{ width: 100px; }
    .languageSwitcher select{ width: 100px}


}

@media(min-width: 1025px){

    .dsNone { display: none !important;   }
    .m-aside-left--enabled .LeftLinks .m-header-menu { padding-left: 0; text-align: right; }
    .m-aside-left--enabled .rightLinks .m-header-menu {  padding-left: 0; }
    .languageSwitcher select { max-width: 100%;}
    .languageInner  li:last-child{ width: 52px;   }
    .languageInner  li:first-child{ width: calc(100% - 62px);   }
}

@media(max-width: 1024px){

    .rightLinks { display: none !important }

}
.imgClassWithoutRotate{
    max-width: 120px;
    max-height: 60px;
    width:auto;
    height:auto;
    margin: 10px 0;
}
.imgClass{
    /*transform: rotate(270deg);*/
    max-width: 60px;
    max-height: 120px;
    width:auto;
    height:auto;
    margin: 10px 0;
}
.noImage{
    display: inline-block;
    width: 60px;
    text-align: center;
}




.forMessageBox .tab-content { width: 100%; }
.forMessageBox .m-messenger__messages { width: 950px;max-width: calc(100% - 40px);  margin: 0 auto; height: 350px; max-height: 350px; overflow: auto; }
.forMessageBox .m-messenger .m-messenger__form {display: block; width: 920px; margin: 0 auto;  max-width: calc(100% - 30px);  padding: 0 10px; }
.forBlankCard {  padding: 100px 20px; }

@media(max-width: 767px){
    .forBlankCard {  padding: 80px 20px; }
    .forBlankCard h1{ font-size: 24px }

}

/* Custom Scrollbar Chrome */
::-webkit-scrollbar { width:8px; }
::-webkit-scrollbar-track { background:#fff; border-radius:20px; }
::-webkit-scrollbar-thumb { background: #f8b400; border-radius:20px; }


/* Update css 18-09-2019 */


@media (min-width: 1650px){

    .forMac .col-xl-8 { flex: 0 0 100%; max-width: 100%;}
    .forMac .col-xl-4 { flex: 0 0 50%; max-width: 50%; }

}


@media (max-width: 991px){

    .forIpad .kt-widget14 { width: 50%; display: inline-block !important; margin-right: -4px; vertical-align: top; }
    .kt-portlet.forIpad.kt-portlet--height-fluid { display: block; }


}

@media (max-width: 767px){

    .forIpad .kt-widget14 {display: block; width: 100%; }
    .forMobileFull .kt-widget17__items { display: block !important; }
    .forMobileFull .kt-widget17__items .kt-widget17__item {  display: inline-block; width: 48%; margin-right: 0 !important; text-align: center; padding: 15px !important; }
    .no-padding{ padding: 0 !important; }
    .no-padding .col-xl-8,.no-padding .col-lg-4,.no-padding .col-lg-8,.no-padding .col-lg-6 { padding: 0; }
}
.kt-portlet__foot {  display: block;  width: 100%;  border-top: 0 !important;}



table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
    cursor: pointer;
}

.commonMetalDetail, .permission_wrapper , .parameter_wrapper {
    border: 1px solid #f8b400;
    padding: 10px;
    border-radius: 10px;
}

.Metal-detail, .permission_title{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 15px;
    letter-spacing: 0.05em;
    color: #464457;
}

/* Custom CSS */
.kt-widget6__body + .kt-widget6__head {
    margin-top:30px;
}
.dashboardImg{
    object-fit: contain;
    height: 50px;
    width: 60px;
}

.kt-header-mobile__logo img {
    height: 50px;
    width: auto;
}
.toast-error {
    background-color: #bd362f !important;
}
.addParam {
    cursor: pointer;
    font-size: 20px;
    padding: 0px 0px 0px 12px;
    color: #f8b400;
}
.minusParam{
    float: right;
    margin: -6px 0px;
}
.blinkAnimate{float: right;}
.alertBorder{
    border: 1px solid #FF0000;
    border-radius: 2px;
}
.companyName{
    margin-left: 45%;
    float: left;
}
.customStats{
    /* width: 25%; */
    border: 1px solid #000000;
}

.totalCountBox{
    border: 1px solid #000;
    /* padding: 5px 0 0; */
    width: 75px;
    text-align: center;
    max-height: 65px;
}
.totalAlerts {
    display: block;
    padding: 0;
    border-bottom: 1px solid #000;
}

.totalCountBox p {
    margin-bottom: 0;
}

.pl30{
    padding-left: 30px;
}
.headerBoxInner{
    border: 1px solid #000;
    padding: 1px 0;
    width: 510px;
    text-align: left;
}
.headerBoxInner a:hover{text-decoration: none;color: #d00e0e}

.boxInner a {
    display: block;
    border-bottom: 1px solid #000;
    padding: 2px 15px;
    color: #d00e0e;
}

.boxInner a .kt-badge--success, .boxInner a .ktBadgeDanger {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    text-align: center;
}

.boxInner a span {
    display: inline-block;
    width: calc(100% - 30px);
    margin-right: -4px;
}

.boxInner:last-child a {
    border-bottom: 0;
}

.kt-header--minimize .totalCountBox {
    padding: 0;
}

.kt-header--minimize .headerBoxInner {
    padding: 0;
}

.kt-header--minimize .headerBoxInner a {
    padding: 0 15px;
    font-size: 13px;
}
.totalCountBox p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.totalCountBox {
    height: auto;
    max-height: 70px;
}

.infoIcon i{
    color:#000;
}
.kt-header__brand {
    text-align: left;
    justify-content: left;
    padding-left: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
@media(max-width: 1024px){
    .kt-header__brand{
        display: inline-block !important;
    }
    .kt-header-mobile--fixed .kt-header__topbar{
        top: 59px;
    }
    .forDesktop{
        display: none;
    }
    .headerBoxInner {
        padding: 0;
    }

    .headerBoxInner a {
        padding: 0px 15px;
    }
}
.customBack{
    background: #f8b400 !important;
}
.ktBadgeDanger{
    color: #fff;
    background: red;
}


@media(min-width: 1025px){
    .ds-none { display: none; }
}

@media(max-width: 1024px){
    .m-none { display: none; }
    .forHeaderCenter { align-items: center !important }
    .forHeaderCenter > span { color: #000000; display: inline-block; margin-right: 30px  }
}
.markRead{
    font-size: 20px;
    color: green;
    cursor: pointer;
}
.markReaded{
    font-size: 20px;
    color: green;
}
.trGrey{
    background-color: darkgray;
}
.instructions_page_box h6 {
    font-size: 20px;
    color: #757575;
    margin-top: 15px;
}

.instructions_page_box h6 span {
    font-weight: 600;
    color: #4e4c4c;
}
/*body {
    letter-spacing: 1px;
}*/
.instructions_page_box ol {
    margin: 20px 35px;
    padding: 0;
}
.instructions_page_box ol li {
    font-size: 16px;
    color: #757575;
    padding: 4px 0;
}
button.btn.btn-sm.btn-primary.Copylink {
    margin: 0px 5px 0px 0px !important;
}
